#mainDiv{
    border: 1px solid black;
    width:700px;
    height:700px;
    background-color:aquamarine;
    display:flex;
    gap:10px;
    justify-content:space-evenly;
    align-items:center;
    flex-direction:column;
}
.subDiv{
    border:1px solid black;
    width:40px;
    height:40px;
    background-color: blueviolet;

}