#a1{
    border: 3px solid black;
    width:300px;
    height:100px;
    font-size:50px;
    font-weight:50px;
    background-color: aquamarine;
    padding:80px;
    margin:50px;
    border-radius:30px;
}
#s1{
    border:4px solid black;
    border-radius: 40px;
    width:300px;
    height:300px;
    font-size:50px;
    background-color: rgb(245, 169, 78);
    padding: 10px 20px 30px 50px;
    box-shadow: 5px 5px 10px 1px black;

}
#a1 span{
    background:linear-gradient(90deg,red,green,blue);
    background-clip:text;
    color: transparent;
    -webkit-text-stroke:1px white;

}