 
 #navbar{
     border:1px solid rgba(243, 243, 243, 0.968);
     background-color:azure;
     color:rgb(17, 17, 17);
     display:flex;
     padding:8px;
     border-radius:10px;
     justify-content:space-between;
     align-items: center;
     position:sticky;
     top:0px;
     font-family:Arial, Helvetica, sans-serif;
     font-size: medium;
}
#links{
    height:50px;
    justify-content: space-between;
}
.para{
    font-size: large;
       font-weight: bold;
}
.mainDiv{
   width:90vw;
    margin:auto;
    display:grid;
    grid-template-columns:auto auto auto ;
    gap:10px;
    margin-top:100px ;
    line-height:1.5;
}
 .subDiv{
    border:1px solid white;
    border-radius:5px;
    padding:10px;
    margin:10px 10px 10px 10px;
    text-align: center;
    font-weight: bold;
  .color{
      color:grey;
      margin-top:10px;
    }
}
