 
 #navbar{
     border:1px solid rgba(243, 243, 243, 0.968);
     background-color:azure;
     color:rgb(17, 17, 17);
     display:flex;
     padding:8px;
     border-radius:10px;
     justify-content:space-between;
     align-items: center;
     position:sticky;
     top:0px;
     font-family:Arial, Helvetica, sans-serif;
     font-size: medium;
}
#links{
    height:50px;
    justify-content: space-between;
}
.para{
    font-size: large;
       font-weight: bold;
}

  #maindiv2{
    width:90vw;
    margin:auto;
    display:grid;
    grid-template-columns:auto auto auto auto ;
    gap:10px;
    margin-top:100px ;
    line-height:1.5;
}
 subdiv2{
  border:1px solid white;
    border-radius:5px;
    padding:10px;
    margin:10px 10px 10px 10px;
    font-weight: bold;
  img{
    border-radius:8px ;
    transition: transform 0.5s ease;
  }
  img:hover{
    transform:rotateX(5deg) rotateY(5deg) scale(1.05);
    box-shadow: 5px 5px 10px 2px grey;
  }
  h3{
    font-weight: bold;
  }
  p{
    color:grey;
    font-weight:bold;
    line-height:1.2;
  }

   