#box{
    width:100px;
    height:100px;
    position:absolute;
    border:1px solid black;
    background-color: aqua;
    animation:movebox 4s linear infinite;
    transform:rotateZ(360deg);
    transition:transform 5s;

}
@keyframes movebox{
    0%{
        top:0px;
        left:0px;
        background-color: aquamarine;
        transform:rotateZ(360deg);
         transition:transform 5s;
    }
    25%{
        top:0px;
        left:500px;
        background-color: blueviolet;
        transform:rotateZ(360deg);
         transition:transform 5s;
    }
    50%{
        top:500px;
        left:500px;
        background-color: bisque;
         transition:transform 5s;
         transform:rotateZ(360deg);
    }
    75%{
        top:500px;
        left:0px;
        background-color: rgb(199, 132, 30);
    }
    100%{
        top:0px;
        left:0px;
        background-color: brown;
    }
}
