.red{
    color:red;
}
    .green{
        color:green;
    }
    .blue{
        color:blue; 
    }

    .bg-pink{
        background-color: pink;
    }
    .bg-green{
        background-color:skyblue;
    }
