h1{
    width:200px;
    border:1px solid black;
    margin-left:0px;

}
h1:hover{
        width:500px;
        transition: width 5s;
        
        
    }
    
    #outer{
        width:500px;
        height:50px;
        border:1px solid black;

        #inner{
            width:0%;
            background-color:aqua;
            height:50px;
        }


    }
    
    #outer:hover{
        #inner{
         width:100%;
        background-color:red;
        transition:width 5s ease-in-out, background-color 5s ease-in-out;
        }
       
    }
    

    #outer1{
        width:500px;
        height:50px;
        border:1px solid black;

        #inner1{
            height:50px;
        }


    }
    
    #outer1:hover{
        #inner1 {
            animation:myAnimation 5s linear;

        }
       
    }
    @keyframes myAnimation{
        0%{
            width:0%;
            background-color: red;
        }
        50%{
            width:50%;
            background-color: yellow;
        }
        100%{
            width:100%;
            background-color:green;
        }

    }
    #d2{
    width:100px;
    height:50px;
    border: 1px solid #000;
    transform:rotateZ(90deg);
    transition: transform 2s;

}