.map-img {
    max-width: 500px;   /* fixes spreading img */
    height: auto;       /* keeps actual aspected ratio */
    object-fit: contain;
    border: 2px solid #000;
    align-items: center;
}
body{
    background-color: rgb(239, 199, 150);
}