body {
  font-family: "Segoe UI", sans-serif;
}

.card {
  border-radius: 12px;
}

.card-header {
  border-radius: 12px 12px 0 0;
}

.btn:hover {
  transform: scale(1.02);
  transition: 0.2s ease;
}

#billDetails 
p {
  margin-bottom: 3px;
}

.total {
  font-size:large;
  font-weight: bold;
  color: #0d6efd;
}
