@import "tailwindcss";


:root {
  /* Primary */
  --color-primary: #E23744;
  --color-primary-hover: #0F163F;

  /* Secondary */
  --color-secondary: #F16D34;
  --color-secondary-hover: #D85F2E;

  /* Background & Text */
  --color-background:#F3F4F6;
  --color-text: #ebbfb6;

  /* Accent */
  --color-accent: #FF986A;
}
