*{
    padding:0;
    margin:0;
}
.navbar{
     border:1px solid black;
     background-color: blue;
     color:aliceblue;
     display:flex;
     padding:10px;
     display:flex;

     justify-content:space-between;
     align-items: center;

     position:sticky;
     top:0px;
}
.link{
      display:flex;
      gap:20px;
}
button{
    background-color: blue;
    position:fixed;
    bottom:40px;
    right:40px;
    height:50px;
    width:50px;

}

}